<div>
  <h1>{{ 'Product List' }}</h1>

  <app-category
    [categories$]="categories$"
    (selectedCategory)="getProductsByCategory($event)"
  ></app-category>

  <app-dropdown
    [dropdownPlaceholder]="dropdownPlaceholder"
    [dropdownOptions]="dropdownOptions"
    (selected)="sortProducts($event)"
  ></app-dropdown>

  <app-product
    *ngFor="let product of products$ | async"
    [product]="product"
    (productId)="showProductDetail($event)"
    (deleteProductId)="deleteProduct($event)"
  ></app-product>
</div>
