<div>
  <h1>{{ 'Add Product' }}</h1>
  <form
    [formGroup]="addProductForm"
    (ngSubmit)="addProduct(addProductForm.value)"
  >
    <label for="title">{{ 'Title * ' }}</label>
    <input id="title" type="text" placeholder="" formControlName="title" />
    <label for="price">{{ 'Price * ' }}</label>
    <input id="price" type="text" placeholder="" formControlName="price" />
    <label for="description">{{ 'Description * ' }}</label>
    <input
      id="description"
      type="text"
      placeholder=""
      formControlName="description"
    />
    <button type="submit" [disabled]="!addProductForm.valid">
      {{ 'Submit' }}
    </button>
  </form>
</div>
